#program-page {
  max-width: 1100px;
  margin: 12%;
  padding: 2rem;
  text-align: left;
  line-height: 2.2em;
}

.proj-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: italic;
}