#header {
  flex-direction: row-reverse;
  display: flex;
  width: 80%
}

#selections {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.select-option {
  text-decoration: none;
  color: rgba(227, 222, 222, 0.87);
  margin-right: 15%;
}

.select-option > * {
  color: rgba(227, 222, 222, 0.87);
}

.select-option > *:hover {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: underline;
}